.movie-field {

  .react-autosuggest__container {

    .input-group-text {
      padding: 5px 8px;
    }

    .react-autosuggest__suggestion {
      padding: 2px 4px;
      .movie-thumb {
        display: inline-block;
        margin-right: 8px;
        width: 30px;
        height: 40px;
        img {
          height: 100%;
        }
      }
    }
  }
}

