.movie-field {

  .react-autosuggest__container {

    .input-group-text {
      padding: 5px 8px;
    }

    .react-autosuggest__suggestion {
      padding: 2px 4px;
      .movie-thumb {
        display: inline-block;
        margin-right: 8px;
        width: 30px;
        height: 40px;
        img {
          height: 100%;
        }
      }
    }
  }
}

.movie-rating {
  font-size: 1.3rem;
  margin-top: 5px;
  transition: all 0.3s ease-in;

  .fa-star {
    margin: 1px;
  }
  .star-empty {
    color: #d4d4d4;
  }

  .star-full {
    color: #ffd34b;
  }

}
