.movie-field {

  .react-autosuggest__container {

    .input-group-text {

    }

    .react-autosuggest__suggestion {
      padding: 2px 4px;
      .thumb {
        display: inline-block;
        margin-right: 8px;
        width: 30px;
        height: 40px;
        overflow: hidden;
        img {
          height: 100%;
        }
      }
    }
  }
}

