@import url('https://fonts.googleapis.com/css?family=Montserrat');

.login-error {
  color: red;
  font-size: 0.8rem;
  padding-bottom: 20px;
}

.already {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
}

.slogan {
  text-align: center;
  padding: 15px 0 25px 0;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

.ossome-button {
  background-color: #009e00;
  border-color: #009e00;
}