@import '../../variables.scss';

.new-post-form {
  button[type='submit'] {
    margin-top: 20px;
  }

  textarea:focus, input:focus {
    box-shadow: none;
  }

  .text-field {
    margin-bottom: 16px;
  }

  .field-buttons {
    text-align: center;
    margin-bottom: 16px;

    button {
      margin: 0 5px;
      border-color: $base-color;
      border-radius: 1rem;

      @media only screen and (max-width: 576px) {
        font-size: 0.85rem;
        margin: 5px 2px 0 2px;
      }

      &:hover {
        background-color: $base-color;
      }

    }
  }

  .errors {
    text-align: center;
    color: red;
    font-size: 0.8rem;
    padding-top: 10px;
  }

}