@import '../../variables.scss';

$field-btn-size: 46px;

.new-post-form {

  padding-bottom: 5px;
  border-bottom: 1px dotted gainsboro;

  button[type='submit'] {
    margin-bottom: 15px;
  }

  textarea:focus, input:focus {
    box-shadow: none;
  }

  .text-field {
    margin-bottom: 16px;
  }

  .field-buttons {
    text-align: center;
    margin-bottom: 16px;

    button {
      margin: 0 5px;
      padding: .375rem .70rem .375rem .8rem;
      border-color: $base-color;
      width: $field-btn-size;
      height: $field-btn-size;
      border-radius: $field-btn-size / 2;

      @media only screen and (max-width: 576px) {
        font-size: 0.85rem;
        margin: 5px 2px 0 2px;
      }

      &:hover {
        background-color: $base-color;
      }

    }
  }

  .errors {
    text-align: center;
    color: red;
    font-size: 0.8rem;
    padding-top: 10px;
  }

}