.filter-dropdown {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 2px;

  .dropdown-text {
    font-size: 0.9rem;
    color: #aaaaaa;
  }

  .dropdown-item {
    color: #777777;
    font-size: 0.9rem;
    padding: .25rem 1rem;
  }

  .dropdown-menu {
    min-width: 8rem;
  }
}