.new-comment {
  textarea {
    border-radius: 6px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  button[type='submit'] {
    border-radius: 15px;
    padding: .25rem .7rem;
    margin-top: 10px;
  }

}